html {
  background: #3A3A6C;
  font-family: 'Quicksand', sans-serif;
}


header {
  color: white;
  text-align: center;
}

main {
  height: 80%;
  width: 60%;
  margin: auto;
}

section {
  height: 50%;
  padding: 4%;
}

.main-section-invitation-list {
  background: white;
}

.main-section-invite-form {
  display: flex;
  justify-content: space-around;
  background: #656794;

}

.main-section-invite-form h2 {
  margin-top: 0;
  color: white;
}

.main-section-invite-form input,
.main-section-invite-form button {
  margin-top: 1em;
  border: none;
}

.main-section-invite-form input:first-child {
  margin-top: 0;
}

.main-section-invite-form input {
  color: #656794;
  padding: .2em;
  padding-left: 1em;
  font-size: .8em;
  width: 95%;
  height: 12%;
}

.main-section-invite-form button {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  background: #382C5F;
  width: 98%;
  border-radius: 0%;
  height: 15%;
}


section img {
  margin-top: 7%;
  height: auto;
  width: 25%;
}
